/* ================================================= */
/* ------------------ General CSS ------------------ */
/* ================================================= */

body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #fff;
}

a {
    text-decoration:none;
    color: #008DDA;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #074173;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    color: #666;
    margin: 0 0 20px 0;
    padding: 0;
}

#go-to-top {
      border: 2px solid white;
        position: fixed;
        display: none;
        background: #008DDA;
        color: #fff;
        width: 44px;
        height: 44px;
        text-align: center;
        line-height: 1;
        font-size: 16px;
        border-radius: 50%;
        right: 15px;
        bottom: 15px;
        transition: background 0.5s;
        z-index: 11;
}

#go-to-top i {
    color: #fff;
}

#go-to-top:hover {
    background: #074173;
}

/* ================================================= */
/* ---------------- Top Header CSS ----------------- */
/* ================================================= */

.top-header {
    display: table;
    position: relative;
    background-image: url(../img/top-header.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: calc(100vh - 70px);
}

@media (max-width: 767.98px) {
    .top-header {
        height: 100vh;
    }
}

.top-header:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.top-header .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.top-header .brand {
    margin-bottom: 75px;
    display: inline-block;
}

.top-header .brand:hover {
    opacity: .75;
}

.top-header h1 {
    font-size: 90px;
    font-weight: 900;
    color: #008DDA;
    letter-spacing: 10px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

@media (max-width: 767.98px) {
    .top-header h1 {
        font-size: 70px;
    }
}

@media (max-width: 575.98px) {
    .top-header h1 {
        font-size: 50px;
    }
}

.top-header h2  {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.top-header .btn {
    background: #008DDA;
    color: #fff;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 50px;
    letter-spacing: 1px;
}

.top-header .btn:hover {
    background: #074173;
}

.top-header .btn:focus {
    color: #fff;
    box-shadow: none;
}

@media (max-width: 61.9em) {
    .top-header {
        padding: 75px 0;
    }

    .top-header .brand {
        margin-bottom: 35px;
    }
}

/* ================================================= */
/* -------------- Banner Header CSS ---------------- */
/* ================================================= */

.banner-header {
    display: table;
    position: relative;
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    padding: 100px 0;
    color: #fff;
    width: 100%;
}

.banner-header:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.banner-header .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.banner-header .brand {
    margin-bottom: 75px;
    display: inline-block;
}

.banner-header .brand:hover {
    opacity: .75;
}

.banner-header h1 {
    font-size: 90px;
    font-weight: 900;
    color: #008DDA;
    letter-spacing: 10px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

@media (max-width: 767.98px) {
    .banner-header h1 {
        font-size: 70px;
    }
}

@media (max-width: 575.98px) {
    .banner-header h1 {
        font-size: 50px;
    }
}

.banner-header h2 {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

@media (max-width: 61.9em) {
    .banner-header {
        padding: 75px 0;
    }

    .banner-header .brand {
        margin-bottom: 35px;
    }
}

/* ================================================= */
/* ------------------ Header CSS ------------------- */
/* ================================================= */

#header {
    /* position: sticky; */
    font-family: 'Nunito', sans-serif;
    position: relative;
    background: #008DDA;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #074173;
}

@media (max-width: 767.98px) {
    #header,
    #header-sticky-wrapper {
        display: none;
    }
}

#nav-menu-container {
    display: inline-block;
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    text-align: left;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

.nav-menu a {
    padding: 22px 15px 21px 15px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
    color: #ffffff;
    background: #074173;
}

.nav-menu ul {
    margin: 0;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #fff;
    border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: #074173;
}

.nav-menu ul li a {
    color: #333;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding: 10px 15px;
}

.nav-menu ul li a:hover {
    color: #fff;
}

.nav-menu ul ul {
    margin: 0;
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 10px 10px 0 0;
    padding: 10px 12px;
    border: 0;
    background: #008DDA;
    border-radius: 30px;
    font-size: 24px;
    line-height: 1px;
    display: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 767.98px) {
    #mobile-nav-toggle {
        display: inline;
    }
    
    #logo {
        width: 100%;
        text-align: center;
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%), linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%), linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%), linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%), linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%), linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%), linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%), linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%, rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%, rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%), linear-gradient(0deg, #2625e3, #0bbaef);

    left: -260px;
    width: 260px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #008DDA;
}

#mobile-nav ul .menu-item-active {
    color: #008DDA;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/* ================================================= */
/* ---------------- Section Header ----------------- */
/* ================================================= */

.section-header h3 {
    position: relative;
    text-align: center;
    color: #008DDA;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 3px;
    padding-bottom: 10px;
    margin-bottom: 45px;
}

/* .section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 7px;
    bottom: 1px;
    left: calc(50% - 30px);
    background: #008DDA;
    border-radius: 5px;
} */

@media (max-width: 767.98px) {
    .section-header h3 {
        font-size: 38px;
    }
    
    .section-header h3::before {
        height: 6px;
    }
}

@media (max-width: 575.98px) {
    .section-header h3 {
        font-size: 32px;
    }
    
    .section-header h3::before {
        height: 5px;
    }
}

/* ================================================= */
/* --------------- About Us Section ---------------- */
/* ================================================= */

#about {
    padding: 60px 0;
    position: relative;
    background: #f2f2f2;
}

#about .section-header h3 {
    margin-bottom: 20px;
}

#about .about-col-left,
#about .about-col-right {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#about .icon {
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
}

#about .icon li {
    display: inline-block;
}

#about .icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    padding: 12px 13px;
}

#about h3 {
    text-align: left;
}

#about h3::before {
    left: 0;
}

#about h4 {
    margin: 30px 0 15px 0;
    color: #008DDA;
    font-weight: 800;
    letter-spacing: 2px;
}

#about .about-col-left img {
    border-radius: 15px;
    box-shadow: 0 0 0 0px #fff inset, 0 0 3px 0 rgba(000, 000, 000, 0.3);
}

/* #about .about-col-right p {
    color: #353535;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
} */

/* #about .about-col-right p:last-child {
    margin-bottom: 0;
} */

#about .about-col-right a {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 8px 30px;
    color: #ffffff;
    background: #008DDA;
    border-radius: 30px;
}

#about .about-col-right a:hover {
    background: #074173;
}

#about .about-col {
    margin-top: 30px;
    padding: 25px 30px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0 0 0 0px #fff inset, 0 0 3px 0 rgba(000, 000, 000, 0.3);
}

#about .about-col h4 {
    margin-top: 0;
}

#about .about-col p {
    margin-bottom: 15px;
}

#about .about-col p:last-child {
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    #about {
        text-align: center;
    }
    
    #about h3 {
        text-align: center;
    }

    #about h3::before {
        left: calc(50% - 30px);
    }
    
    #about .about-col-left img {
        margin-bottom: 30px;
    }
    
    #about .about-col-right p {
        font-size: 16px;
    }
}

/* ================================================= */
/* --------------- Services Section ---------------- */
/* ================================================= */

#services {
    position: relative;
    padding: 60px 0 30px 0;
    text-align: center;
}

#services .single-service {
    position: relative;
    text-align: center;
    font-weight: 400;
    margin: 0 0 30px 0;
    padding: 25px 30px 30px 30px;
    border-radius: 6px;
    box-shadow: 0 0 0 0px #fff inset, 0 0 3px 0 rgba(000, 000, 000, 0.3);
}

#services .single-service h4 {
    color: #008DDA;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#services .single-service span {
    font-size: 14px;
}

#services .single-service p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#services .single-service a {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 7px 30px;
    color: #ffffff;
    background: #008DDA;
    border-radius: 30px;
}

#services .single-service:hover a {
    background: #074173;
}

#services .single-service a:hover {
    background: #008DDA;
}

#services .single-service .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
}

#services .single-service .icon.icon-1 {
    background-image: url(../img/icon/icon-1.png);
}

#services .single-service:hover .icon.icon-1 {
    background-image: url(../img/icon/icon-1-hover.png);
}

#services .single-service .icon.icon-2 {
    background-image: url(../img/icon/icon-2.png);
}

#services .single-service:hover .icon.icon-2 {
    background-image: url(../img/icon/icon-2-hover.png);
}

#services .single-service .icon.icon-3 {
    background-image: url(../img/icon/icon-3.png);
}

#services .single-service:hover .icon.icon-3 {
    background-image: url(../img/icon/icon-3-hover.png);
}

#services .single-service .icon.icon-4 {
    background-image: url(../img/icon/icon-4.png);
}

#services .single-service:hover .icon.icon-4 {
    background-image: url(../img/icon/icon-4-hover.png);
}

#services .single-service .icon.icon-5 {
    background-image: url(../img/icon/icon-5.png);
}

#services .single-service:hover .icon.icon-5 {
    background-image: url(../img/icon/icon-5-hover.png);
}

#services .single-service .icon.icon-6 {
    background-image: url(../img/icon/icon-6.png);
}

#services .single-service:hover .icon.icon-6 {
    background-image: url(../img/icon/icon-6-hover.png);
}

#services .single-service .icon.icon-7 {
    background-image: url(../img/icon/icon-7.png);
}

#services .single-service:hover .icon.icon-7 {
    background-image: url(../img/icon/icon-7-hover.png);
}

/* ================================================= */
/* ------------------ counter-Section Section ----------------- */
/* ================================================= */

#counter-Section {
    position: relative;
    padding: 60px 0 30px 0;
    text-align: center;
    /* background: #f2f2f2; */
    background-image: linear-gradient(330deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 81%, transparent 81%, transparent 100%), linear-gradient(104deg, rgba(52, 52, 52, 0.01) 0%, rgba(52, 52, 52, 0.01) 24%, transparent 24%, transparent 100%), linear-gradient(273deg, rgba(52, 52, 52, 0.03) 0%, rgba(52, 52, 52, 0.03) 91%, transparent 91%, transparent 100%), linear-gradient(58deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 51%, transparent 51%, transparent 100%), linear-gradient(297deg, rgba(201, 201, 201, 0.01) 0%, rgba(201, 201, 201, 0.01) 59%, transparent 59%, transparent 100%), linear-gradient(37deg, rgba(169, 169, 169, 0.03) 0%, rgba(169, 169, 169, 0.03) 12%, transparent 12%, transparent 100%), linear-gradient(27deg, rgba(144, 144, 144, 0.03) 0%, rgba(144, 144, 144, 0.03) 76%, transparent 76%, transparent 100%), linear-gradient(168deg, rgba(14, 14, 14, 0.03) 0%, rgba(14, 14, 14, 0.03) 31%, transparent 31%, transparent 100%), linear-gradient(237deg, rgba(96, 96, 96, 0.01) 0%, rgba(96, 96, 96, 0.01) 52%, transparent 52%, transparent 100%), linear-gradient(320deg, rgba(30, 30, 30, 0.03) 0%, rgba(30, 30, 30, 0.03) 52%, transparent 52%, transparent 100%), linear-gradient(271deg, rgba(64, 64, 64, 0.03) 0%, rgba(64, 64, 64, 0.03) 27%, transparent 27%, transparent 100%), linear-gradient(290deg, rgba(32, 32, 32, 0.01) 0%, rgba(32, 32, 32, 0.01) 21%, transparent 21%, transparent 100%), linear-gradient(124deg, rgba(231, 231, 231, 0.03) 0%, rgba(231, 231, 231, 0.03) 1%, transparent 1%, transparent 100%), linear-gradient(298deg, rgba(61, 61, 61, 0.03) 0%, rgba(61, 61, 61, 0.03) 46%, transparent 46%, transparent 100%), linear-gradient(222deg, rgba(216, 216, 216, 0.03) 0%, rgba(216, 216, 216, 0.03) 82%, transparent 82%, transparent 100%), linear-gradient(251deg, rgba(211, 211, 211, 0.01) 0%, rgba(211, 211, 211, 0.01) 57%, transparent 57%, transparent 100%), linear-gradient(200deg, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 9%, transparent 9%, transparent 100%), linear-gradient(95deg, rgba(160, 160, 160, 0.01) 0%, rgba(160, 160, 160, 0.01) 59%, transparent 59%, transparent 100%), linear-gradient(275deg, rgba(160, 160, 160, 0.03) 0%, rgba(160, 160, 160, 0.03) 3%, transparent 3%, transparent 100%), linear-gradient(351deg, rgba(18, 18, 18, 0.02) 0%, rgba(18, 18, 18, 0.02) 26%, transparent 26%, transparent 100%), linear-gradient(245deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 54%, transparent 54%, transparent 100%), linear-gradient(269deg, rgba(145, 145, 145, 0.03) 0%, rgba(145, 145, 145, 0.03) 76%, transparent 76%, transparent 100%), linear-gradient(150deg, rgba(202, 202, 202, 0.03) 0%, rgba(202, 202, 202, 0.03) 3%, transparent 3%, transparent 100%), linear-gradient(98deg, rgba(14, 14, 14, 0.03) 0%, rgba(14, 14, 14, 0.03) 97%, transparent 97%, transparent 100%), linear-gradient(170deg, rgba(142, 142, 142, 0.03) 0%, rgba(142, 142, 142, 0.03) 13%, transparent 13%, transparent 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.01) 0%, rgba(199, 199, 199, 0.01) 73%, transparent 73%, transparent 100%), linear-gradient(263deg, rgba(176, 176, 176, 0.03) 0%, rgba(176, 176, 176, 0.03) 60%, transparent 60%, transparent 100%), linear-gradient(110deg, rgba(191, 191, 191, 0.03) 0%, rgba(191, 191, 191, 0.03) 83%, transparent 83%, transparent 100%), linear-gradient(198deg, rgba(142, 142, 142, 0.01) 0%, rgba(142, 142, 142, 0.01) 64%, transparent 64%, transparent 100%), linear-gradient(204deg, rgba(5, 5, 5, 0.03) 0%, rgba(5, 5, 5, 0.03) 64%, transparent 64%, transparent 100%), linear-gradient(351deg, rgba(83, 83, 83, 0.01) 0%, rgba(83, 83, 83, 0.01) 84%, transparent 84%, transparent 100%), linear-gradient(12deg, rgba(49, 49, 49, 0.01) 0%, rgba(49, 49, 49, 0.01) 57%, transparent 57%, transparent 100%), linear-gradient(288deg, rgba(141, 141, 141, 0.01) 0%, rgba(141, 141, 141, 0.01) 8%, transparent 8%, transparent 100%), linear-gradient(112deg, rgba(191, 191, 191, 0.01) 0%, rgba(191, 191, 191, 0.01) 8%, transparent 8%, transparent 100%), linear-gradient(230deg, rgba(46, 46, 46, 0.03) 0%, rgba(46, 46, 46, 0.03) 34%, transparent 34%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

#counter-Section h4 {
    margin: 20px 0 0 0;
    color: #008DDA;
    font-weight: 800;
    letter-spacing: 2px;
}

#counter-Section span {
    font-size: 14px;
}

#counter-Section .row p {
    margin: 10px 0 45px 0;
}

.box8 {
    border-radius: 6px;
}

.box8 .box-content {
    border-radius: 6px;
    background: rgba(256, 256, 256, .8);
}

.box8 .icon li a {
    color: #ffffff;
    background: #008DDA;
}

.box8 .icon li a:hover {
    color: #ffffff;
    background: #074173;
}

/* ================================================= */
/* ------------- Testimonials Section -------------- */
/* ================================================= */

#testimonials {
    background: url("../img/testimonial-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 55px 0;
    text-align: center;
    position: relative;
}

.card {
    border-radius: 1rem;
    padding: 15px;
    margin: 0 100px;
}

.card-text {
    padding: 20px 50px;
}

.card .footer {
    margin:20px;
    padding: 0 100px;
}


.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #074173;
}

@media (max-width:760px) {
    .card {
        margin: 0%;
    }

    .card-text {
        padding: 20px 20px;
    }
}

.test-img {
    height: 60px;
    width: auto;
}

#testimonials::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(256, 256, 256, 0.5);
}

/* 
#testimonials .container {
    position: relative;
    max-width: 900px;
    z-index: 9;
}

#testimonials i {
    color: #008DDA;
    font-style: italic;
}

#testimonials .testimonial-item {
    padding: 0 0 15px 0;
    text-align: left;
}

@media (max-width: 575.98px) {
    #testimonials .testimonial-item {
        text-align: center;
    }
}

#testimonials .img,
#testimonials .content {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#testimonials .testimonial-item .testimonial-img {
    width: 100%;
    border-radius: 6px;
}

#testimonials .testimonial-item h3 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5px;
    color: #008DDA;
}

#testimonials .testimonial-item h4 {
    color: #757575;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

#testimonials .testimonial-item p {
    color: #666666;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #008DDA;
}

#testimonials .owl-dot.active {
    background: #074173;
} */

/* ================================================= */
/* ----------------- Booking Style ----------------- */
/* ================================================= */

#booking {
    position: relative;
    padding: 60px 30px;
}

#booking .container {
    max-width: 900px;
}

#booking label {
    font-size: 14px;
    font-weight: 600;
}

#booking .booking-form input,
#booking .booking-form select {
    font-size: 16px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: none;
    margin-bottom: 15px;
}

#booking .booking-form input:focus,
#booking .booking-form textarea:focus {
    border: 1px solid #008DDA;
}

#booking .booking-form button[type="submit"] {
    background: #FFFFFF;
    border: none;
    padding: 8px 30px 10px 30px;
    color: #ffffff;
    background: #008DDA;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}

#booking .booking-form button[type="submit"]:hover {
    background: #074173;
}

/* ================================================= */
/* ---------------- Contact Section ---------------- */
/* ================================================= */

/* ================= */
/*  ------- contact link button -------  */
/*  ================= */

.contact-btn {
    margin: 5px 3px;
    height: 40px;
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #A6E3E9;
    overflow: hidden;
    border: 2px solid #074173;
    color: #074173;
}

.contact-btn:hover {
    color: #fff;
}

.contact-btn:hover:after {
    width: 100%;
}

.contact-btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #71C9CE;
}

@media (max-width:768px) {

    .contact-btn span {
        display: none;
    }

    .contact-btn {
        border-radius: 25px;
    }

     /* #contact .contact-info {
        margin-top: 10px;
    } */
}


/* ----------end mail button -------- */
 

#contact {
    padding: 60px 0;
}

#contact .contact-detail,
#contact .contact-form {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#contact .contact-detail {
    margin-bottom: 20px;
    padding: 25px 30px;
    background: #008DDA;
    border-radius: 6px;
    box-shadow: 0 0 0 0px #fff inset, 0 0 3px 0 rgba(000, 000, 000, 0.6);
}

#contact .contact-hours {
    padding: 0 0 25px 0;
    margin-bottom: 25px;
    border-bottom: 1px dotted #eee;
}

#contact .contact-detail h4 {
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#contact .contact-detail p {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
}

#contact .contact-detail a {
    color: #ffffff;
}

#contact .contact-detail a:hover {
    color: #074173;
}

.Gmap {
    margin: 10px auto 0;
    /* height: 15%; */
    width: 95%;
}

.Gmap-lg {
    margin: 20px auto 10px;
        /* height: 50%; */
        width: 95%;
        
}

#contact .contact-form {
    color: #0D180B;
    font-weight: 400;
    margin-bottom: 26px;
}


.form-group{
    margin: 10px;
}

#contact .contact-form input,
#contact .contact-form textarea {
    font-size: 16px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: none;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
    border: 1px solid #008DDA;
}

#contact .contact-form button[type="submit"] {
    background: #FFFFFF;
    border: none;
    padding: 8px 30px 10px 30px;
    color: #ffffff;
    background: #008DDA;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}

#contact .contact-form button[type="submit"]:hover {
    background: #074173;
}

/* ================================================= */
/* ---------------- Login Section ---------------- */
/* ================================================= */

#login {
    padding: 60px 0;
}

#login .form {
    background: #fff;
    color: #666666;
    font-weight: 400;
}

@media (max-width: 767.98px) {
    #login .form:first-child {
        margin-bottom: 60px;
    }
}

#login .form input {
    font-size: 16px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: none;
}

#login .form input:focus {
	border: 1px solid #008DDA;
}

#login .form button[type="submit"] {
    border: none;
    background: #008DDA;
    padding: 9px 30px;
    color: #ffffff;
    transition: 0.4s;
    cursor: pointer;
	border-radius: 30px;
}

#login .form button[type="submit"]:hover {
    background: #074173;
}

.custom-control-label:before{
    background: #ffffff;
    border: 1px solid #ddd;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #008DDA;
    border: 1px solid #008DDA;
}

.custom-radio .custom-control-input:focus~.custom-control-label::before,
.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
    border: 1px solid #008DDA;
}

/* ================================================= */
/* --------------- clinic-logo Section -------------- */
/* ================================================= */

#clinic-logo {
    position: relative;
    padding: 30px 0;
    /* background: #008DDA; */
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%), linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%), linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%), linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%), linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%), linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%), linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%), linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%, rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%, rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%), linear-gradient(0deg, #2625e3, #0bbaef);
    text-align: center;
}
#clinic-logo h2 {
    font-size: 30px;
        font-weight: 900;
        color: #ffffff;
        letter-spacing: 2px;
        margin:15px 0  ;
}

#clinic-logo h4 {
            color: #ffffff;
                letter-spacing: 5px;
                margin: 15px 0;
}

#clinic-logo .form-inline {
    width: 400px;
    margin: 0 auto;
}

#clinic-logo .form-group {
    margin-bottom: 0;
}

#clinic-logo input {
    width: 250px;
    font-size: 16px;
    padding: 10px 30px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
}

#clinic-logo button[type="submit"] {
    width: 120px;
    border: none;
    box-shadow: none;
    padding: 8px 30px;
    color: #008DDA;
    font-weight: 600;
    letter-spacing: 1px;
    background: #ffffff;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}

#clinic-logo button[type="submit"]:hover {
    color: #ffffff;
    background: #074173;
}


/* ================================================= */
/* ------------------- Footer CSS ------------------ */
/* ================================================= */

#footer {
    position: relative;
    /* background: #222222; */
    background-image: linear-gradient(17deg, rgba(41, 41, 41, 0.02) 0%, rgba(41, 41, 41, 0.02) 48%, rgba(10, 10, 10, 0.02) 48%, rgba(10, 10, 10, 0.02) 59%, rgba(164, 164, 164, 0.02) 59%, rgba(164, 164, 164, 0.02) 73%, rgba(79, 79, 79, 0.02) 73%, rgba(79, 79, 79, 0.02) 93%, rgba(42, 42, 42, 0.02) 93%, rgba(42, 42, 42, 0.02) 100%), linear-gradient(42deg, rgba(124, 124, 124, 0.02) 0%, rgba(124, 124, 124, 0.02) 15%, rgba(116, 116, 116, 0.02) 15%, rgba(116, 116, 116, 0.02) 23%, rgba(41, 41, 41, 0.02) 23%, rgba(41, 41, 41, 0.02) 44%, rgba(196, 196, 196, 0.02) 44%, rgba(196, 196, 196, 0.02) 54%, rgba(145, 145, 145, 0.02) 54%, rgba(145, 145, 145, 0.02) 100%), linear-gradient(151deg, rgba(85, 85, 85, 0.02) 0%, rgba(85, 85, 85, 0.02) 12%, rgba(72, 72, 72, 0.02) 12%, rgba(72, 72, 72, 0.02) 28%, rgba(156, 156, 156, 0.02) 28%, rgba(156, 156, 156, 0.02) 33%, rgba(230, 230, 230, 0.02) 33%, rgba(230, 230, 230, 0.02) 50%, rgba(13, 13, 13, 0.02) 50%, rgba(13, 13, 13, 0.02) 100%), linear-gradient(76deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 9%, rgba(183, 183, 183, 0.02) 9%, rgba(183, 183, 183, 0.02) 32%, rgba(19, 19, 19, 0.02) 32%, rgba(19, 19, 19, 0.02) 86%, rgba(129, 129, 129, 0.02) 86%, rgba(129, 129, 129, 0.02) 88%, rgba(174, 174, 174, 0.02) 88%, rgba(174, 174, 174, 0.02) 100%), linear-gradient(90deg, rgb(41, 41, 41), rgb(8, 8, 8));
    padding: 0 0 30px 0;
}

#footer .copyright {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
}

#footer .copyright p {
	margin: 0;
}

#footer .copyright a {
    color: #ffffff;
    font-weight: 600;
}

#footer .copyright a:hover {
    color: #008DDA;
}

/* =========================================================== */
/*      counter container in counter-Section section */
/* =========================================================== */

#counter1,
#counter2,
#counter3 {
    color: #1679AB;
    display: inline-block;
}

.counter {
    margin: 70px;
}

.counts {
    display: inline-block;
}

.counts h3 {
    font-size: 1.5rem;
}